<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Line Up</title>
  </head>
  <body>
    <div id="UNB"></div>
    <h1 class="line-up-h1">First Day</h1>

    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="pics/redvelvet.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">레드벨벳</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="pics/hongjinyoung.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">홍진영</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="pics/twice.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">트와이스</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="pics/bts.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">BTS</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="/js/pageCheck.js"></script>
  <script type="module" src="/js/nav.js"></script>
</html>
